:root {
  --main: rgb(37 91 126);
  --active: rgb(243 192 46);
  --main-fade: rgb(37 91 126 / 50%);
  --main-light: rgb(218 229 243 / 50%);
  --main-light-solid: rgb(241 246 253);
  --main-bg: rgb(255 255 255);
  --links: rgb(9 105 218);
  --danger: rgb(235 3 3);
}
body {
  margin: 0;
  color: var(--main);
}
button, export {
  border: 0 none;
  background: transparent;
  color: var(--main-light-solid);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25em;
  margin: 0 0.2em;
  padding: 0 0.3em;
}
button.add::after {
  content: "\271A";
}
export::after {
  content: "\2913";
}

workspace, project {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--main);
  border-radius: 0.3vw;
  position: relative;
  background: var(--main);
  color: var(--main-light);
  margin-bottom: 1vh;
}
workspace span, project span {
  padding: 1vh;
}
selector {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
selector::after {
  content: "\200B";
  display: block;
  clear: both;
  margin: 1.5vh;
}
selector item {
  transition: all .3s ease-in-out;
  position: absolute;
  filter: blur(1px) opacity(0.5);
  background-color: var(--main-light-solid);
  color: var(--main);
  padding: 0.5vh 4vw;
  font-size: 1.2em;
  border-radius: 0.3vw;
  margin: 0.1vh 0;
  display: flex;
}
selector item[data-selected=true] {
  left: 50%;
  transform: translate(-50%, 0);
  filter: none;
}
selector item[data-selected=false]:has(~ item[data-selected=true]) {
  left: -100%;
}
selector item[data-selected=false]:has(+ item[data-selected=true]) {
  left: 20%;
}
selector item[data-selected=true] ~ item[data-selected=false] {
  left: 200%;
}
selector item[data-selected=true] + item[data-selected=false] {
  left: 80%;
  transform: translate(-100%, 0);
}
selector options {
  display: flex;
  width: 100%;
  position: absolute;
  right: 0;
  justify-content: right;
  padding-right: 0.3vw;
}
selector edit::after, taskview edit::after {
  content: "\270E";
  font-size: 1.2em;
  cursor: pointer;
}
selector delete::after, taskview delete::after {
  content: "\2612";
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  color: var(--danger);
}
prev, next {
  height: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
  font-size: 2em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  background: var(--main);
  color: var(--main-light-solid);
  align-items: center;
}
prev {
  left: 0;
}
prev::after {
  content: "\2329";
}
next {
  right: 0;
}
next::after {
  content: "\232A";
}
todo {
  display: flex;
  flex-direction: column;
  transition: all .1s ease-in-out;
  width: 100%;
  background: var(--main-bg);
  padding: 1vw;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
}
todoblocks {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-grow: 1;
}
todoblocks.dragging {
  background: var(--main-fade);
}
.todo-block {
  width: 30vw;
  display: flex;
  border: 1px solid var(--main);
  border-radius: 0.3vw;
  position: relative;
}
.todo-block legend {
  display: flex;
  align-items: center;
}
.todo-block .toggle {
  appearance: none;
  display: flex;
  margin: 0 0.2em;
}
.todo-block .toggle::after {
  font-size: 1.5em;
  color: var(--main-light-solid);
  background-color: var(--main-fade);
  font-weight: bold;
  padding: 0 0.3em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.todo-block .toggle.preview::after {
  content: "\2630";
}
.todo-block .toggle.opened::after {
  content: "\2714";
}
.todo-block .toggle.active::after {
  content: "\2692";
}
.todo-block .toggle:checked::after {
  background-color: var(--main);
}
.todo-block .toggle:hover::after {
  background-color: var(--active);
}
.todo-block legend button {
  color: var(--main-light-solid);
  background-color: var(--main-fade);
  transition: all .1s ease-in-out;
}
.todo-block legend button:hover {
  background-color: var(--main);
}
todofield {
  align-content: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-color: var(--main-light-solid) var(--main);
}
todofield.current {
  background: var(--main-bg);
}
popup {
  position: absolute;
  top: 10vw;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  padding: 2vw;
  border: 1px solid var(--main);
  border-radius: 0.3vw;
  background: var(--main-bg);
  z-index: 1;
  transition: all .1s ease-in-out;
}
popup.opened {
  transform: translate(-50%, 0) scale(1);
}
popup closebutton {
  position: absolute;
  right: 0.5vw;
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  top: 0.5vw;
  font-size: 1.2em;
  color: var(--main);
}
popup closebutton:hover {
  text-shadow: 0 0 0.1em var(--main);
}
popup closebutton::after {
  content: "\2715";
}
popup header {
  margin-bottom: 2vh;
}
popup .preview {
  display: flex;
}
popup info.preview tasklegend {
  margin: 0;
}
popup projectinfo.preview tasklegend {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}
popup .preview tasklegend tooltip {
  top: 0;
}
popup projectinfo.preview {
  flex-direction: column;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}
popup buttons {
  display: flex;
  justify-content: space-between;
  min-width: 20vw;
  margin-top: 2vh;
}
popup buttons > * {
  border-radius: 0.1vw;
  padding: 0.3vh 0.6vw;
  color: var(--main-light-solid);
  cursor: pointer;
}
popup buttons ok.danger {
  background-color: var(--danger);
  font-weight: bold;
}
popup buttons cancel {
  background-color: var(--main-fade);
}
popup fieldset, taskview {
  display: flex;
  flex-direction: column;
}
body:has(popup) {
  content: "";
  background-color: var(--main-fade);
}
body:has(popup) todo {
  filter: blur(1px) brightness(0.8) grayscale(0.8) opacity(0.7);
}
popup:has(form) {
  width: 50%;
}
popup fieldset {
  border: 1px solid var(--main);
  border-radius: 0.1vw;
}
popup fieldset label {
  font-size: 1.2em;
}
popup input[type="submit"] {
  max-width: 20%;
  border: 1px solid var(--main);
  border-radius: 0.1vw;
  padding: 0.5vh 0.8vw;
  background-color: var(--main-light);
  color: var(--main);
  font-size: 1.2em;
  cursor: pointer;
}
popup input[type="submit"]:hover {
  background-color: var(--main);
  color: var(--main-light-solid);
}
popup fieldset > *:has(label) {
  width: 100%;
  display: flex;
  margin: 1.1vh 0;
  justify-content: space-between;
}
popup fieldset > *:has(label) *:nth-child(2) {
  border: 1px solid var(--main);
  border-radius: 0.1vw;
  padding: 0.5vh 0.3vw;
  background-color: var(--main-light);
  color: var(--main);
  font-size: 1.1em;
}
popup fieldset > *:has(label) *:nth-child(2):focus {
  outline: 0.2vw solid var(--main-fade);
}
popup fieldset > *:has(label) input,
popup fieldset > *:has(label) textarea {
  min-width: 50%;
  box-sizing: border-box;
}
popup fieldset > *:has(label) input[type=color],
popup fieldset > *:has(label) select {
  min-width: auto;
}
popup fieldset > *:has(label) input[type=color] {
  padding: 0;
  border: 0;
}
popup fieldset > *:has(label) textarea {
  min-height: 9em;
}
popup done, popup active {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
popup input[type=checkbox] {
  appearance: none;
  display: flex;
  cursor: pointer;
}
popup input[type=checkbox]:after {
  background-color: var(--main-light-solid);
  color: var(--main);
  content: "";
  font-size: 2em;
  border-radius: 0.1vw;
  border: 1px solid var(--main);
  line-height: 1em;
  min-height: 1em;
  min-width: 1em;
  text-align: center;
}
popup input[type=checkbox]:checked::after {
  content: "\2714";
  color: var(--main-light-solid);
  background-color: var(--main);
}
popup:has(taskview) {
  width: 90%;
  min-height: 40vh;
  display: flex;
}
tasklegend {
  margin: 0.2vw;
  padding: 0.7vh 0.5vw;
  border-radius: 0.2vw;
  color: var(--main-bg);
  text-shadow: 0 0 0.2vw var(--main);
  cursor: pointer;
  position: relative;
  display: flex;
  filter: brightness(0.95);
  align-items: center;
}
tasklegend code {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview tasklegend code {
  min-width: 6em;
}
.preview tasklegend.active::after {
  content: "\2692";
  font-size: 1.5em;
  padding: 0;
  position: absolute;
  right: 0.4em;
  top: 0;
}
tasklegend info {
  width: 1em;
  height: 1em;
  display: flex;
  border: 1px solid var(--main-bg);
  border-radius: 50%;
  justify-content: center;
  font-size: 0.9em;
  text-shadow: none;
  margin-left: 0.5em;
}
tasklegend info:after {
  content: "\2139";
}
tasklegend.closed {
  text-decoration: line-through;
  filter: grayscale(0.6) opacity(0.4);
}
tasklegend tooltip {
  content: attr(title);
  position: absolute;
  top: 100%;
  padding: 0.3vw 0.7vw;
  border-radius: 0.2vw;
  background: var(--main-bg);
  color: var(--main);
  text-shadow: none;
  box-shadow: 1px 1px 1px var(--main);
  border: 1px solid var(--main);
  white-space: nowrap;
  opacity: 0;
  transition: all .05s ease-in-out;
  transform: scale(0);
  z-index: 2;
}
tasklegend:hover {
  filter: brightness(1);
}
tasklegend.closed:hover {
  filter: grayscale(0.3) opacity(0.8);
}
tasklegend info:hover ~ tooltip {
  transform: scale(1);
  filter: none;
  opacity: 1;
}
tasklegend:active tooltip {
  transform: scale(0);
  opacity: 0;
}
.preview tasklegend {
  width: 100%;
}
.preview tasklegend info {
  display: none;
}
.preview tasklegend tooltip {
  position: relative;
  opacity: 1;
  transform: scale(1);
  border: 0;
  padding: 0 0.5vw;
  margin-left: 0.3em;
  border-radius: 0.1vw;
  text-overflow: ellipsis;
  max-width: 70%;
  overflow: hidden;
  border: 1px ridge var(--main-fade);
  box-shadow: none;
}
taskview {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
taskview taskname {
  font-weight: bold;
  margin-bottom: 1vh;
}
taskview header {
  display: flex;
}
taskview options {
  margin-left: 1em;
}
taskview description {
  border: 1px solid var(--main);
  border-radius: 0.1vw;
  padding: 1vh 1vw;
  margin: 1vh 0;
  flex-grow: 1;
}
taskview .commits {
  margin-bottom: 1em;
}
taskview commit {
  display: flex;
  flex-direction: column;
  padding: 0.2vh 0.2vw;
  border: 1px solid var(--main-fade);
}
taskview commit:nth-child(2n) {
  background: var(--main-light);
}
taskview commit url {
  display: flex;
}
taskview commit url a {
  color: var(--links);
  text-decoration: none;
}
